@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');

* {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	border: none;
	background: transparent;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
}

button {
	cursor: pointer;
}

:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.2;
	font-size: 0.85em;
	--bg: rgb(255, 231, 238);
	--bg-tabbar: rgb(250, 242, 244);
	--bg-dark: #e91e63;
	--bg-light: #fff;
	--radius: 0.66em;
	--radius-small: 0.46em;
	--space-h: 0.66em;
	--space-v: 0.33em;
	--pressable: 3em;
	--text-dim: rgb(75, 75, 75);
	--shadow-1: 0 0 0 1px rgba(255, 255, 255, 0.5),
		0 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.05);
}

x-draggable {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(var(--left), var(--top));
}

.x-window-breakout {
	display: block;
	margin: calc(var(--space-v) * -2) calc(var(--space-h) * -1);
}
.x-window-breakout-padding,
xw-body-row {
	padding: calc(var(--space-v) * 2) var(--space-h);
}
x-window {
	contain: content;
	z-index: 9999999;
	border-radius: var(--radius);
	padding: 2px;
	display: grid;
	grid-template-rows: min-content 1fr;
	box-shadow: var(--shadow-1);
	overflow: hidden;
	width: 20em;
	max-height: 30em;
	height: 100%;
	background: var(--bg-light);

	xw-header {
		font-weight: 600;
		transform: lowercase;
		color: var(--bg-dark);
		padding: var(--space-v) 0;
		min-height: var(--pressable);
		display: grid;
		border-radius: var(--radius-small);
		grid-template-columns: calc(var(--pressable)) 1fr calc(var(--pressable));
		align-items: center;
		justify-content: center;
		margin-bottom: 2px;
		cursor: pointer;
		&:hover {
			background: var(--bg);
		}
		xw-header-title {
			transform: translate(0, 0.1em);
		}
		xw-header-icon {
			display: grid;
			align-items: center;
			justify-content: center;
			transform: scale(1.25);
		}
	}
	xw-body {
		border-radius: var(--radius-small);
		overflow: hidden;
		background: var(--bg);
		display: grid;
		height: 100%;
		grid-template-columns: 1fr;
	}
	xw-body-row {
		overflow: scroll;
		&:not(:last-child) {
			border-bottom: 1px solid var(--bg-light);
		}
	}
}

x-dock {
	position: fixed;
	top: calc(var(--space-h) * 2);
	right: calc(var(--space-h) * 2);
	display: grid;
	grid-auto-flow: column;
	grid-gap: calc(var(--space-h) * 2);
	button {
		&:hover {
			filter: brightness(0.95);
		}
	}
}

x-dock-panel,
[as='x-dock-panel'] {
	background: var(--bg-light);
	color: var(--text-dim);
	font-weight: 500;
	display: grid;
	border-radius: 1000em;
	height: var(--pressable);
	grid-auto-flow: column;
	grid-template-rows: 1fr;
	align-items: stretch;
	box-shadow: var(--shadow-1);
	& > * + * {
		border-left: 1px solid var(--bg);
	}
	& > *:first-child {
		padding-left: calc(var(--pressable) / 3);
		padding-right: calc(var(--pressable) / 6);
	}
	& > *:last-child {
		padding-right: calc(var(--pressable) / 3);
		padding-left: calc(var(--pressable) / 6);
	}
}

xdp-text {
	display: grid;
	align-items: center;
	justify-content: center;
	padding: 0 var(--space-h);
}

xdp-emoji,
[as='xdp-emoji'] {
	min-width: calc(var(--pressable) * 1.25);
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	> span {
		transform: translateX(10%) translateY(-10%) scale(1.5);
	}
}

x-window x-table {
	display: block;
}

x-form {
	display: grid !important;
	grid-auto-rows: 1fr;
	align-self: center;
}

x-form xf-row {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--space-h);
	border-bottom: 1px solid var(--bg-light);
}

x-form xf-row h3 {
	font-weight: 400;
}

table-row {
	display: flex;
	border-bottom: 1px solid var(--bg-light);
	tr-icon {
		width: calc(var(--pressable));
		margin-left: calc(var(--space-h) * -1);
		margin-top: 1em;
		text-align: center;
		transform: scale(1.33);
		flex: 0 0 auto;
		line-height: 1;
	}
	> tr-body > * {
		display: block;
		margin-bottom: 0.25em;
	}
}

x-window select,
x-window button {
	background: #fff;
	padding: 0.5em;
	box-shadow: var(--shadow-1);
}

x-tabbar {
	display: grid;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	justify-content: center;
	grid-gap: calc(var(--space-h) / 4);
}
x-tabbar button {
	width: var(--pressable);
	height: var(--pressable);
	background: var(--bg-tabbar);
	border-top-left-radius: var(--radius-small);
	border-top-right-radius: var(--radius-small);
	box-shadow: none !important;
	display: grid;
	align-items: center;
	justify-content: center;
	&[data-active='true'] {
		background: var(--bg);
	}
}

x-emoji {
	display: grid;
	width: 1em;
	height: 1em;
	align-items: center;
	justify-content: center;
	line-height: 1em;
	vertical-align: 1em;
	transform: scale(1.33);
}

xe-glyph {
	font-size: 1em;
	display: inline;
	line-height: 1em;
	vertical-align: 1em;
	transform: translate(10%, 5%);
}
