@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500,900&display=swap');

* {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	border: none;
	background: transparent;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
	line-height: 1.2;
	font-weight: inherit;
	font-family: inherit;
}

pre {
	font-family: monospace;
}

:root {
	font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.85em;
	font-weight: var(--font-normal);
	color: var(--text-dim);
	background: #dcedc8;
	--bg: rgb(255, 231, 238);
	--bg-tabbar: rgb(250, 242, 244);
	--bg-dark: #e91e63;
	--bg-light: #fff;
	--radius: 0.66em;
	--radius-small: 0.46em;
	--space-h: 0.66em;
	--space-v: 0.33em;
	--pressable: 3em;
	--text-dim: rgb(50, 50, 50);
	--text-bold: rgb(10, 10, 10);
	--shadow-1: 0 0 0 1px rgba(255, 255, 255, 0.5),
		0 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.05);
	--shadow-2: 0 0 0 1px rgba(255, 255, 255, 0.5);

	--font-normal: 300;
	--font-bold: 500;
}

x-draggable {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(var(--left), var(--top));
}

x-dock {
	position: fixed;
	top: calc(var(--space-h) * 2);
	right: calc(var(--space-h) * 2);
}

x-window x-table {
	display: block;
}

x-window select,
x-window button,
x-window input {
	background: #fff;
	padding: 0.5em;
	box-shadow: var(--shadow-1);
	border-radius: var(--radius-small);
	overflow: hidden;
}

x-tabbar {
	display: grid;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	justify-content: center;
	grid-gap: calc(var(--space-h) / 4);
}
x-tabbar button {
	width: var(--pressable);
	height: var(--pressable);
	background: var(--bg-tabbar);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: var(--radius-small);
	border-top-right-radius: var(--radius-small);
	box-shadow: none !important;
	display: flex;
	align-items: center;
	justify-content: center;
	&[data-active='true'] {
		background: var(--bg);
	}
}
